<footer>
    <p>Be a programmer Don't be a coder</p>
    <p>Copyright Ligengixin96@gmail.com</p>
</footer>

<script type="text/javascript">
   (function () {
        const footerTag = document.getElementsByTagName('footer');
        if (footerTag.length > 0) {
            if (footerTag[0]?.children?.length > 1) {
                console.log(`Copyright © ${new Date().getFullYear()} Ligengixin96@gmail.com`);
                footerTag[0].children[1].innerText = `Copyright © ${new Date().getFullYear()} Ligengixin96@gmail.com`;
            }
        }
    })();
</script>
    